body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  padding: 30px;
}

button {
  border: none;
}

/* FORM STYLES */
.form-card {
  margin-top: 30px;
  background-color: #f4f4f4;
  padding: 20px 30px;
  border-radius: 10px;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); 
}
form {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  gap: 10px;
  align-items: center;
}
label {
  text-align: right;
  font-size: 0.9rem;
}
input[type="text"],
input[type="number"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1em;
}
input[type="number"] {
  width: 60px;
}
input[type="checkbox"] {
  margin-right: auto;
  transform: scale(1.3);
}
#submit {
  grid-column: span 4;
  background-color: rgb(93, 115, 203);
  color: white;
  font-weight: bold;
  padding: 10px 30px;
  justify-self: center;
  border-radius: 8px;
  cursor: pointer;
  margin: 20px 0;
}
#submit:hover {
  background-color: rgb(73, 90, 158);
}

/* TABLE STYLES */
#library-table {
  margin-top: 30px;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  overflow: hidden;
}
th {
  background-color: #f4f4f4;
}

/* adjustment for column widths */
th.title, td.title {
  width: 30%;
}
th.author, td.author {
  width: 30%;
}
th.read, td.read {
  width: 15%;
}
th.pages, td.pages,
th.actions, td.actions {
  width: 10%;
  text-align: center;
}

td.read {
  text-align: center;
}

.remove {
  padding: 5px 9px;
  border-radius: 25px;
  background-color: rgb(220, 59, 59);
  color: white;
  cursor: pointer;
}

.remove:hover {
  background-color: rgb(175, 47, 47);
}

.toggle-read {
  padding: 2px;
  padding-left: 10px;
  background-color: white;
  color: rgb(93, 115, 203);
  font-size: 28px;
  cursor: pointer;
}

